.imagedeveloper {
    padding: 0;
    margin: 0;
    width: 100px;
    height: 100px;
    /*     background-image: url(../../assets//women-developer.webp);
 */
    background-size: cover;
    /* background-position: center; */
}

.imgProfile {
    background-image: url('../../public/images/myAvatar.png');
    background-size: cover;
    background-color: #c850c0;
    

}

.socailmediabtn {
    width: 90px;
    height: 45px;
    background-color: transparent;
    border: none;
    border-radius: 15px;
  }

  .icon {
    font-size: 25px;
  }


.homepagebackground {
    width: 100%;
     background-image: url('../../public/images/banner.jpg');
    background-size: 100% 
 /*    background-color: white;
    background-image: linear-gradient(43deg,
            #0000 0%,
            #c850c0 46%,
            #ffcc70 100%); */
}

.wave {
    animation-name: wave-animation;
    /* Refers to the name of your @keyframes element below */
    animation-duration: 2.1s;
    /* Change to speed up or slow down */
    animation-iteration-count: infinite;
    /* Never stop waving :) */
    transform-origin: 70% 70%;
    /* Pivot around the bottom-left palm */
    display: inline-block;
}

@keyframes wave-animation {
    0% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(14deg);
    }

    /* The following five values can be played with to make the waving more or less extreme */
    20% {
        transform: rotate(-8deg);
    }

    30% {
        transform: rotate(14deg);
    }

    40% {
        transform: rotate(-4deg);
    }

    50% {
        transform: rotate(10deg);
    }

    60% {
        transform: rotate(0deg);
    }

    /* Reset for the last half to pause */
    100% {
        transform: rotate(0deg);
    }
}